@import 'styles/mixins';

.wrapper {
  position: relative;
  height: 4rem;
  width: 24rem;
  padding: 1rem;

  border-radius: 0.6rem;
  background-color: $grey100;

  font-family: $avenirNext;
  font-size: 1.4rem;
  font-weight: 600;
  color: $grey400;
  text-align: left;

  &_stretched {
    width: 100%;
  }

  &:focus {
    box-shadow: 0 0 0 2px $grey300;
  }
}

.placeholder {
  font-family: $avenirNext;
  font-size: 1.4rem;
  font-weight: 600;
  color: $grey400;
  pointer-events: none;
}

.icon {
  position: absolute;
  top: 46%;
  right: 0.5rem;
  transform: translate3d(-50%, 0, 0);
  @include animate(transform);
  pointer-events: none;

  &_open {
    transform: translate3d(-50%, -25%, 0) rotate(180deg);
  }

  &__close {
    pointer-events: all;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
  }
}

.content {
  min-width: var(--radix-dropdown-menu-trigger-width);
  padding: 0.5rem;
  margin-top: 0.5rem;

  background-color: white;
  border-radius: 0.6rem;
  box-shadow:
    0px 10px 38px -10px rgba(22, 23, 24, 0.35),
    0px 10px 20px -15px rgba(22, 23, 24, 0.2);

  animation-duration: 0.4s;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;

  &[data-side='bottom'] {
    animation-name: slideDownAndFade;
  }
  &[data-side='top'] {
    animation-name: slideUpAndFade;
  }
}

.item {
  padding: 1rem;

  font-size: 1.4rem;
  color: $black;

  border-radius: 0.6rem;

  &:hover {
    background-color: $grey100;
    cursor: pointer;
  }

  &_active {
    background-color: $turquoise200;

    &:hover {
      background-color: $turquoise200;
    }
  }
}

.label {
  font-weight: 400;
  color: $black;
  pointer-events: none;
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
