@import 'styles/mixins';

.container {
  max-width: 87.2rem;
  min-height: 100vh;
  margin: 0 auto;

  display: flex;
  align-items: center;
  flex-direction: column;

  .wrapper {
    width: 100%;
    padding-top: 5rem;

    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
  }

  @include mobile {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }

  &::after {
    content: '';
    display: block;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: radial-gradient(circle, rgba(208, 241, 242, 0.8) 0%, rgba($white, 0) 50%);
    z-index: -1;
  }

  .header {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .content {
    width: 100%;
    padding-bottom: 25%;

    @include flexCenter;
    flex-direction: column;
    flex: 1;
  }
}
