@import 'styles/mixins.scss';

.wrapper {
  min-width: 120px;
  padding: 0 20px;
  border-radius: 100px;

  @include flexCenter;

  @include animate(all);

  &:disabled {
    background-color: $grey300;
    @include disableSelect;
  }

  &:active {
    transform: scale(0.98);
  }

  &_stretched {
    width: 100%;
  }

  &_size {
    &-s {
      height: 30px;
    }
    &-m {
      height: 40px;
    }
    &-xl {
      height: 50px;

      .label {
        font-size: 16px;
      }
    }
  }

  &_theme {
    &-filled {
      background-color: $turquoiseMain;

      &:hover {
        background-color: $turquoise400;
      }

      .label {
        @include elementText($white);
      }

      .icon svg {
        fill: $white;
      }
    }

    &-outlined {
      border: $turquoiseMain 2px solid;
      background-color: transparent;

      &:hover {
        background-color: $turquoise100;
      }

      .label {
        @include elementText($turquoiseMain);
      }

      .icon svg {
        fill: $turquoiseMain;
      }
    }
  }
}

.icon {
  max-width: 24px;
  max-height: 24px;

  & svg {
    max-width: 24px;
    max-height: 24px;
  }
}
