@import 'styles/mixins';

.wrapper {
  min-width: 12rem;
  padding: 0.8rem 2.4rem;
  border-radius: 10rem;

  @include flexCenter;

  user-select: none;

  @include animate(all);

  &:disabled {
    background-color: $grey300;
    border-color: $grey300;
    color: $white;
    @include disableSelect;

    .label {
      color: $white;
    }
  }

  &:active {
    transform: scale(0.98);
  }

  &_stretched {
    width: 100%;
  }

  &_theme {
    &-filled {
      color: $white;
      background-color: $turquoiseMain;

      @include hover {
        background-color: $turquoise400;
      }

      .label {
        @include elementText($white);
      }
    }

    &-outlined {
      color: $turquoiseMain;
      border: $turquoiseMain 2px solid;
      background-color: transparent;

      @include hover {
        background-color: $turquoise100;
      }

      .label {
        @include elementText($turquoiseMain);
      }
    }

    &-text {
      min-width: 0;
      padding: 1rem;

      color: $turquoiseMain;
      opacity: 1;

      @include hover {
        opacity: 0.8;
      }

      &:disabled {
        background-color: transparent;
        color: $grey300;
      }

      .label {
        @include elementText($turquoiseMain);
      }
    }
  }
}

.defalt-wrapper {
  @include flexCenter;
  color: $white;
}

.icon {
  max-width: 2.4rem;
  max-height: 2.4rem;

  & svg {
    max-width: 2.4rem;
    max-height: 2.4rem;
  }
}

.wrapper_size {
  &-s {
    min-height: 3rem;

    .label {
      font-size: 1.2rem;
      line-height: 1.4rem;
    }
  }

  &-m {
    min-height: 4rem;
  }

  &-xl {
    min-height: 5rem;

    .label {
      font-size: 1.8rem;
      line-height: 2rem;
    }
  }
}
