@import 'styles/mixins';

.container {
  display: flex;

  &_mobile {
    flex-direction: column-reverse;

    .wrapper {
      justify-content: stretch;
      padding-left: 0;
    }

    .content {
      max-width: 100%;
      padding: 30px 12px calc(#{$tabbarHeight} + 30px);
    }
  }
}

.wrapper {
  width: 100%;
  padding-left: $sidebarWidth;

  display: flex;
  justify-content: center;
  flex: 1;

  font-family: 'Avenir Next Cyr';
  font-weight: 600;
}

.content {
  max-width: 90%;
  padding: 60px 50px;
  flex: 1 1 auto;
}
