@import 'styles/mixins';

.wrapper {
  max-width: 100rem;
}

.expense {
  display: flex;
  align-items: center;

  &__button {
    height: fit-content;

    @include mobile {
      padding: 0.8rem 1.4rem;
      min-width: 0;
    }
  }
}

.price {
  position: relative;
  right: -6%;
}
