@import 'styles/mixins';

.container {
  min-height: 100vh;
  display: flex;

  &_mobile {
    flex-direction: column-reverse;

    .wrapper {
      justify-content: stretch;
      padding-left: 0;
    }

    .content {
      max-width: 100%;
      padding: 3rem 1.2rem calc(#{$tabbarHeight} + 3rem);
    }
  }
}

.wrapper {
  width: 100%;
  padding-left: $sidebarWidth;

  display: flex;
  justify-content: center;
  flex: 1;

  font-family: $avenirNext;
  font-weight: 600;
}

.content {
  max-width: 90%;
  padding: 6rem 5rem;
  flex: 1 1 auto;

  @media (min-width: 1500px) {
    max-width: 75%;
  }
}
