@import 'styles/mixins';

.wrapper {
  width: 10rem;
  min-height: 12rem;
  padding: 1rem 0.8rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;

  background-color: $white;
  border: 2px solid $turquoise200;
  border-radius: 6px;

  @include animate(background-color);

  &_selected {
    border-color: $turquoiseMain;
  }

  &:hover {
    background-color: $turquoise100;
  }

  &:focus-visible {
    border-color: $turquoiseMain;
    box-shadow: 0 0 0 1px $turquoiseMain;
  }
}

.photo {
  @include square(5rem);
  color: $turquoiseMain;

  & > svg {
    @include square(100%);
  }

  .image {
    @include square(100%);
    border-radius: 50%;
    object-fit: cover;

    user-select: none;
    pointer-events: none;
  }
}

.name {
  hyphens: auto;
}
