@import 'styles/mixins';

.wrapper {
  padding: 0.6rem 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;

  border-radius: 0.6rem;
  background-color: $lightGrey;
  cursor: pointer;

  .left {
    display: flex;
    align-items: center;
  }

  &_completed {
    opacity: 0.5;

    .name {
      text-decoration: line-through;
    }
  }

  .checkbox {
    &__wrapper {
      @include square(2.5rem);
      @include flexCenter();

      background-color: $white;
      border-radius: 0.4rem;
      box-shadow: 0 2px 10px $turquoise200;

      @include animate(background-color);

      &:hover {
        background-color: $turquoise100;
      }

      &:focus {
        box-shadow: 0 0 0 2px black;
      }
    }

    &__indicator {
      color: $turquoiseMain;
    }
  }

  .name {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
  }

  .icon {
    max-width: 3.2rem;
    max-height: 3.2rem;
  }
}
