$white: #fff;
$black: #0a1414;

// turquoise
$turquoiseMain: #5faeb2;
$turquoise100: #edfcfc;
$turquoise200: #ceebed;
$turquoise300: #9bd1d4;
$turquoise400: #76c7cc;
$turquoise900: #003133;

// gray
$greyMain: #7b8b8b;
$lightGrey: #f7f7f7;
$grey100: #f0f0f0;
$grey300: #ced6d6;
$grey400: #a4b2b2;
$grey600: #4e5d5d;
$grey700: #344141;

// purple
$purpleMain: #b67daa;
$purple100: #faedf7;

// orange
$orangeMain: #f9ad4e;
$orange100: #fff4e7;

// blue
$blueMain: #4184f7;
$blue100: #ebf2ff;

// green
$greenMain: #89bd64;
$green100: #f0ffe6;

// red
$redMain: #db6658;
$red100: #ffe8e5;
$red300: #fab0a7;
