$white: #fff;
$black: #0a1414;

$turquoiseMain: #5faeb2;
$turquoise100: #edfcfc;
$turquoise200: #ceebed;
$turquoise400: #76c7cc;

$greyMain: #7b8b8b;
$lightGrey: #f7f7f7;
$grey100: #f0f0f0;
$grey300: #ced6d6;
$grey400: #a4b2b2;

$purpleMain: #b67daa;
$purple100: #faedf7;
