// sizes
$sidebarWidth: 30.8rem;
$tabbarHeight: 7rem;

// z-index
$sidebarZIndex: 100;

// fonts
$avenirNext: 'Avenir Next', sans-serif;
$sourceSans3: 'Source Sans 3', sans-serif;

// breakpoints
$desktop-xl: 1025px;
$desktop: 769px;
$tablet: 481px;
$mobile: 480px;
