// sizes
$sidebarWidth: 30.8rem;
$tabbarHeight: 7rem;

// todo: calculate height programmatically
$maxMobileHeaderHeight: 5.5rem + 3rem;
$contentVerticalIndentMobile: 1.2rem;

// z-index
$sidebarZIndex: 100;
$modalZIndex: 200;
$snackbarZIndex: 300;
$dropdownZIndex: 400;

// fonts
$avenirNext: 'Avenir Next', sans-serif;
$sourceSans3: 'Source Sans 3', sans-serif;

// breakpoints
$desktop-xl: 1025px;
$desktop: 769px;
$tablet: 481px;
$mobile: 480px;
