@import './fonts/fonts.scss';
@import './colors.scss';
@import './global.scss';
@import './typography.scss';
@import './consts.scss';

@mixin square($dimension) {
  width: $dimension;
  height: $dimension;
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin animate($properties, $sec: 0.2s) {
  transition: $properties $sec ease;
}

@mixin disableSelect {
  user-select: none;
  pointer-events: none;
}
