@import 'styles/mixins';

.wrapper {
  font-family: 'Avenir Next Cyr';
  font-weight: 600;
  color: $black;

  &_h1 {
    font-size: 2rem;
    text-transform: uppercase;
  }

  &_h2 {
    font-size: 1.4rem;
    text-transform: uppercase;
  }

  &_modal {
    font-size: 2.2rem;
  }
}
