@import 'styles/mixins';

.logo {
  display: flex;
  align-items: center;

  @include disableSelect;

  &__name {
    font-family: 'Avenir Next Cyr', sans-serif;
    font-size: 2.2rem;
    font-weight: 900;

    &_default {
      color: $turquoiseMain;
    }

    &_alt {
      color: $white;
    }
  }

  &__image {
    @include square(3rem);
    margin-right: 1.4rem;
    object-fit: contain;
  }
}
