@import 'styles/mixins';

.copy {
  & input {
    &:hover {
      background-color: $turquoise100;
    }

    @include animate(background-color);
  }
}

.text {
  font-family: $avenirNext;
  line-height: 1.8rem;
  color: $greyMain;
}
