@import 'styles/mixins';

.users {
  @include flexCenter;

  .arrow {
    @include square(7.4rem);
    color: $grey300;
    transform: rotate(180deg);
  }
}

.user {
  display: flex;
  align-items: center;
  flex-direction: column;

  .debt {
    font-family: $avenirNext;
    font-size: 1.6rem;
    font-weight: 600;

    & > span {
      font-family: $avenirNext;
      font-size: 1.6rem;
      font-weight: 600;
    }

    &_red {
      & > span {
        color: $redMain;
      }
    }
    &_green {
      & > span {
        color: $greenMain;
      }
    }
  }
}

.field {
  @include flexCenter;

  &__wrapper {
    width: 100%;
    max-width: 34rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.title {
  font-family: $sourceSans3;
  font-weight: 600;
  font-size: 1.6rem;
}
