@import 'styles/mixins';

.controls {
  display: flex;
  justify-content: space-between;

  &_mobile {
    flex-wrap: wrap;

    .spacing {
      width: 100%;
    }
  }

  @include mediaScreen($tablet) {
    .inputWrapper {
      max-width: 28rem;
    }
  }
}

.icon {
  @include defaultInputIconStyles;

  right: 1rem;

  max-width: 1.6rem;
  max-height: 1.6rem;
}
