@import 'styles/mixins';

.controls {
  display: flex;
  justify-content: space-between;

  &_mobile {
    flex-wrap: wrap;

    .spacing {
      width: 100%;
    }
  }

  .inputWrapper {
    max-width: 28rem;
  }
}
