$font-path: '/src/styles/fonts/SourceSans3/SourceSans3';

@font-face {
  font-family: 'Source Sans 3';
  src:
    local('Source Sans 3 Light'),
    local('SourceSans3-Light'),
    url('#{$font-path}-Light.woff2') format('woff2'),
    url('#{$font-path}-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
}

@font-face {
  font-family: 'Source Sans 3';
  src:
    local('Source Sans 3 Regular'),
    local('SourceSans3-Regular'),
    url('#{$font-path}-Regular.woff2') format('woff2'),
    url('#{$font-path}-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans 3';
  src:
    local('Source Sans 3 Medium'),
    local('SourceSans3-Medium'),
    url('#{$font-path}-Medium.woff2') format('woff2'),
    url('#{$font-path}-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans 3';
  src:
    local('Source Sans 3 SemiBold'),
    local('SourceSans3-SemiBold'),
    url('#{$font-path}-SemiBold.woff2') format('woff2'),
    url('#{$font-path}-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans 3';
  src:
    local('Source Sans 3 Bold'),
    local('SourceSans3-Bold'),
    url('#{$font-path}-Bold.woff2') format('woff2'),
    url('#{$font-path}-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans 3';
  src:
    local('Source Sans 3 ExtraBold'),
    local('SourceSans3-ExtraBold'),
    url('#{$font-path}-ExtraBold.woff2') format('woff2'),
    url('#{$font-path}-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
