@import 'styles/mixins';

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icons {
  display: flex;
  align-items: center;
}

.icon {
  opacity: 1;
  cursor: pointer;
  @include animate(opacity);

  &:hover {
    opacity: 0.7;
  }
}
