@use 'sass:math';
@import 'styles/mixins.scss';

.wrapper {
  &.vertical {
    height: calc(var(--size) * 1px);
    padding: calc(math.div(#{var(--size)}, 2px)) 0;
  }

  &.horizontal {
    width: calc(var(--size) * 1px);
    padding: 0 calc(math.div(#{var(--size)}, 2px));
  }
}
