@use 'sass:math';
@import 'styles/mixins.scss';

.wrapper {
  flex-shrink: 0;

  &.vertical {
    height: calc(var(--size) * 1rem);
    padding: calc(var(--size) / 2rem) 0;
  }

  &.horizontal {
    width: calc(var(--size) * 1rem);
    padding: 0 calc(var(--size) / 2rem);
  }

  &.stretched.vertical {
    width: 100%;
  }
}
