@import 'styles/mixins';

.checkbox {
  &__wrapper {
    @include square(2.5rem);
    @include flexCenter;

    background-color: $white;
    border-radius: 6px;
    border: 2px solid $turquoiseMain;

    @include animate(background-color);

    &:hover {
      background-color: $turquoise100;
    }

    &:focus {
      border-color: $white;
      box-shadow: 0 0 0 2px $turquoiseMain;
    }
  }

  &__indicator {
    @include flexCenter;

    color: $turquoiseMain;
  }

  &__icon {
    max-width: 1.4rem;
    max-height: 1.4rem;
  }
}
