@import 'styles/mixins';

.container {
  position: relative;

  padding: 3.6rem 1.7rem 3.6rem 2rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-shrink: 0;

  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;

  width: $sidebarWidth;
  height: 100vh;
  background-color: $turquoiseMain;

  position: fixed;
  z-index: $sidebarZIndex;

  &_mobile {
    width: 100%;
    height: $tabbarHeight;
    padding: 0 1.2rem;

    flex-direction: row;
    border-radius: 1rem 1rem 0 0;

    position: fixed;
    bottom: 0;
    left: 0;

    .wrapper {
      height: 100%;
      flex: 1 1 auto;
    }

    .buttonsList {
      width: 100%;

      display: flex;
      justify-content: space-between;
      align-items: center;

      position: relative;
    }
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.buttonsList {
  position: relative;
  width: 27.1rem;
  height: 23.8rem;
}

.profile {
  width: 100%;

  display: flex;
  align-items: center;
  padding: 0.8rem;

  border-radius: 0.8rem;
  cursor: pointer;

  &:hover {
    background-color: rgba(118, 199, 204, 0.45);
  }
}

.image {
  @include square(5.4rem);
  margin-right: 1rem;

  border-radius: 50%;
  border: 2px solid #9bd1d4;
  background-color: #edfcfc;
}

.wrapper {
  width: 17rem;
  height: 4.1rem;
  color: $white;
}

.name {
  font-family: 'Avenir Next Cyr', sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 0.6rem;
}

.email {
  font-family: 'Avenir Next Cyr', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
}
