@font-face {
  font-family: 'Avenir Next Cyr', sans-serif;
  src: local('AvenirNextCyr-Light'), url('AvenirNextCyr-Light.woff') format('woff'),
    url('AvenirNextCyr-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next Cyr', sans-serif;
  src: local('AvenirNextCyr-Regular'), url('AvenirNextCyr-Regular.woff') format('woff'),
    url('AvenirNextCyr-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next Cyr', sans-serif;
  src: local('AvenirNextCyr-Medium'), url('AvenirNextCyr-Medium.woff') format('woff'),
    url('AvenirNextCyr-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next Cyr', 'Avenir Next', sans-serif;
  src: local('AvenirNextCyr-Demi'), url('AvenirNextCyr-Demi.woff') format('woff'),
    url('AvenirNextCyr-Demi.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next Cyr', sans-serif;
  src: local('AvenirNextCyr-Bold'), url('AvenirNextCyr-Bold.woff') format('woff'),
    url('AvenirNextCyr-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
